<p>Здравствуйте {{ name }},</p>
<p>Вы оставили заявку на регистрацию на нашем сайте</p>
<p>
   Чтобы активировать Ваш аккаунт пройдите по этой ссылке<a href="{{ url }}">активировать</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете смело его игнорировать.</p>