<p>Здравствуйте {{ name }},</p>
<p>Вы оставили заявку на смену пароля</p>
<p>
   Сменить пароль по ссылке<a href="{{ url }}">активировать</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете смело его игнорировать.</p>